<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="javascripts/core.js"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="myController">
      <p></p>
      <h5>modbus address 1-20 data is</h5>
      <!--
      <li ng-repeat="data in datas">({{data.index}}) hex:{{data.data_hex}} dec:{{data.data_dec}}</li>
      -->
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Addr</th>
            <th scope="col">Value(Hex)</th>
            <th scope="col">Value(Dec)</th>
            <th scope="col">Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in datas">
            <!-- <th scope="row">1</th> -->
            <th scope="row">{{data.index+1}}</th>
            <td>{{data.data_hex}}</td>
            <td>{{data.data_dec}}</td>
            <td><input type="number" ng-model="$parent.writedata[$index]" /></td>
          </tr>          
        </tbody>
      </table>
      <button class="btn btn-primary" ng-click="save()">Save</button>
      <button class="btn btn-success" ng-click="reload()">Reload</button>
    </div>
  </body>
</html>
